In [22]:
import pandas as pd
import numpy as np

In [23]:
dataset = pd.read_table("kmean_attr.txt",sep=' ',header=-1).T

In [54]:
#Init
mean = np.random.rand(6,561)
mean = pd.DataFrame(mean).T

In [55]:
cluster1 = list()
cluster2 = list()
cluster3 = list()
cluster4 = list()
cluster5 = list()
cluster6 = list()
clusters = [cluster1, cluster2,cluster3,cluster4,cluster5,cluster6]

In [ ]:
def init_clusters(clusters):
    for c in range(0,len(clusters)):
        clusters[c] = list()
    return clusters

In [57]:
#find clusters
def findClusters():
    for i in range(0,10410):
        minNorm = 0 #can take zero as we are working with square norm
        clusterId = -1
        for j in range(0,5):
            norm = np.linalg.norm(dataset[i] - mean[j],ord=2)
            norm = norm*norm
            if(minNorm > norm):
                clusterId = j
                minNorm = norm
        clusters[clusterId].append(i)

In [58]:
#Find Mean
def RecalculateMean():
    newMean = np.zeros((6,561))
    newMean = pd.DataFrame(newMean)
    for k in range(0,5):
        if(len(clusters[k])>0):
            for l in range (0,len(clusters[k])):
                newMean[k] = newMean[k] + dataset[clusters[k][l]]
            newMean[k] = newMean[k]/len(clusters[k])
    return newMean

In [ ]:
#is Convergence
while(1=1):
    findClusters()
    clusters = init_clusters()
    newMean = RecalculateMean()
    print(np.linalg.norm(mean-newMean,ord=2))
    if(np.linalg.norm(mean-newMean,ord=2)>1):
        mean = newMean
        del newMean
    else:
        break

In [ ]:
#is Convergence
t =100
while(t>0):
    t=t-1
    findClusters()
    clusters = init_clusters()
    mean = RecalculateMean()

In [41]:
findClusters()

In [40]:
m = RecalculateMean()
mean = m

In [52]:
len(cluster6)

3174946

In [40]:
m = RecalculateMean()

In [41]:
m

,0,1,2,3,4,5,6,7,8,9,...,551,552,553,554,555,556,557,558,559,560
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0